In [4]:
import pandas as pd
india ={
    "city":["Banglore","Mumbai","Delhi"],
    "temperature":[32,45,30],
    "humidity":[80,60,78]
}
india_weather = pd.DataFrame(india)
india_weather
# india

       city  temperature  humidity
0  Banglore           32        80
1    Mumbai           45        60
2     Delhi           30        78

In [5]:
us_weather =pd.DataFrame({
    "city":["New York","Chicago","orlando"],
    "temperature":[21,15,35],
    "humidity":[68,68,79]
})
us_weather

       city  temperature  humidity
0  New York           21        68
1   Chicago           15        68
2   orlando           35        79

In [8]:
df = pd.concat([india_weather,us_weather])
df

       city  temperature  humidity
0  Banglore           32        80
1    Mumbai           45        60
2     Delhi           30        78
0  New York           21        68
1   Chicago           15        68
2   orlando           35        79

In [9]:
df = pd.concat([india_weather,us_weather],ignore_index=True)
df

       city  temperature  humidity
0  Banglore           32        80
1    Mumbai           45        60
2     Delhi           30        78
3  New York           21        68
4   Chicago           15        68
5   orlando           35        79

In [10]:
df = pd.concat([india_weather,us_weather],keys=["india","US"])
df

             city  temperature  humidity
india 0  Banglore           32        80
      1    Mumbai           45        60
      2     Delhi           30        78
US    0  New York           21        68
      1   Chicago           15        68
      2   orlando           35        79

In [11]:
df.loc["india"]

       city  temperature  humidity
0  Banglore           32        80
1    Mumbai           45        60
2     Delhi           30        78

In [12]:
df.loc["US"]

       city  temperature  humidity
0  New York           21        68
1   Chicago           15        68
2   orlando           35        79

In [13]:
temperature =pd.DataFrame({
    "city":["New York","Chicago","orlando"],
    "temperature":[21,15,35],
})
temperature

       city  temperature
0  New York           21
1   Chicago           15
2   orlando           35

In [14]:
windspeed =pd.DataFrame({
    "city":["New York","Chicago","orlando"],
    "twindspeed ":[8,15,5],
})
windspeed

       city  twindspeed
0  New York            8
1   Chicago           15
2   orlando            5

In [15]:
df = pd.concat([temperature,windspeed],ignore_index=True)
df

       city  temperature  twindspeed
0  New York         21.0          NaN
1   Chicago         15.0          NaN
2   orlando         35.0          NaN
3  New York          NaN          8.0
4   Chicago          NaN         15.0
5   orlando          NaN          5.0

In [16]:
df = pd.concat([temperature,windspeed])
df

       city  temperature  twindspeed
0  New York         21.0          NaN
1   Chicago         15.0          NaN
2   orlando         35.0          NaN
0  New York          NaN          8.0
1   Chicago          NaN         15.0
2   orlando          NaN          5.0

In [17]:
df = pd.concat([temperature,windspeed],axis=1)
df

       city  temperature      city  twindspeed
0  New York           21  New York            8
1   Chicago           15   Chicago           15
2   orlando           35   orlando            5

In [20]:
s= pd.Series(["Humid","Dry","Rain"],name  = "event")
s

0    Humid
1      Dry
2     Rain
Name: event, dtype: object

In [21]:
df = pd.concat([temperature,s],axis=1)
df

       city  temperature  event
0  New York           21  Humid
1   Chicago           15    Dry
2   orlando           35   Rain