In [ ]:
import pandas as pd
df = pd.read_csv('/content/city_temperature.csv', encoding='latin1')
df

,Region,Country,State,City,Month,Day,Year,AvgTemperature
0,Africa,Algeria,NaN,Algiers,1.0,1.0,1995.0,64.2
1,Africa,Algeria,NaN,Algiers,1.0,2.0,1995.0,49.4
2,Africa,Algeria,NaN,Algiers,1.0,3.0,1995.0,48.8
3,Africa,Algeria,NaN,Algiers,1.0,4.0,1995.0,46.4
4,Africa,Algeria,NaN,Algiers,1.0,5.0,1995.0,47.9
...,...,...,...,...,...,...,...,...
102410,Africa,Ivory Coast,NaN,Abidjan,3.0,9.0,2011.0,82.9
102411,Africa,Ivory Coast,NaN,Abidjan,3.0,10.0,2011.0,83.0
102412,Africa,Ivory Coast,NaN,Abidjan,3.0,11.0,2011.0,83.1
102413,Africa,Ivory Coast,NaN,Abidjan,3.0,12.0,2011.0,81.8
102414,Africa,Ivory C,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df['AvgTemperature'].max()

100.2

In [ ]:
df['AvgTemperature'].min()

-99.0

In [ ]:
df.fillna(0, inplace=True)
print(df)

        Region      Country  State     City  Month   Day    Year  \
0       Africa      Algeria    0.0  Algiers    1.0   1.0  1995.0
1       Africa      Algeria    0.0  Algiers    1.0   2.0  1995.0
2       Africa      Algeria    0.0  Algiers    1.0   3.0  1995.0
3       Africa      Algeria    0.0  Algiers    1.0   4.0  1995.0
4       Africa      Algeria    0.0  Algiers    1.0   5.0  1995.0
...        ...          ...    ...      ...    ...   ...     ...
102410  Africa  Ivory Coast    0.0  Abidjan    3.0   9.0  2011.0
102411  Africa  Ivory Coast    0.0  Abidjan    3.0  10.0  2011.0
102412  Africa  Ivory Coast    0.0  Abidjan    3.0  11.0  2011.0
102413  Africa  Ivory Coast    0.0  Abidjan    3.0  12.0  2011.0
102414  Africa      Ivory C    0.0        0    0.0   0.0     0.0

        AvgTemperature
0                 64.2
1                 49.4
2                 48.8
3                 46.4
4                 47.9
...                ...
102410            82.9
102411            83.0
102412            83.1
102413            81.8
102414             0.0

[102415 rows x 8 columns]

In [ ]:
df

,Region,Country,State,City,Month,Day,Year,AvgTemperature
0,Africa,Algeria,0.0,Algiers,1.0,1.0,1995.0,64.2
1,Africa,Algeria,0.0,Algiers,1.0,2.0,1995.0,49.4
2,Africa,Algeria,0.0,Algiers,1.0,3.0,1995.0,48.8
3,Africa,Algeria,0.0,Algiers,1.0,4.0,1995.0,46.4
4,Africa,Algeria,0.0,Algiers,1.0,5.0,1995.0,47.9
...,...,...,...,...,...,...,...,...
102410,Africa,Ivory Coast,0.0,Abidjan,3.0,9.0,2011.0,82.9
102411,Africa,Ivory Coast,0.0,Abidjan,3.0,10.0,2011.0,83.0
102412,Africa,Ivory Coast,0.0,Abidjan,3.0,11.0,2011.0,83.1
102413,Africa,Ivory Coast,0.0,Abidjan,3.0,12.0,2011.0,81.8
102414,Africa,Ivory C,0.0,0,0.0,0.0,0.0,0.0

In [ ]:
df['Year'][df['AvgTemperature']==df['AvgTemperature'].max()]

50515    2019.0
Name: Year, dtype: float64

In [ ]:
df['Year'][df['AvgTemperature']==df['AvgTemperature'].mean()]

Series([], Name: Year, dtype: float64)

In [ ]:
df['Year'][df['AvgTemperature']==df['AvgTemperature'].min()]

220       1995.0
221       1995.0
408       1996.0
409       1996.0
1453      1998.0
           ...
101121    2007.0
101384    2008.0
101385    2008.0
101514    2008.0
101711    2009.0
Name: Year, Length: 14639, dtype: float64